body
{
width:auto;
height:auto;
}

#wrap
{
width:auto;
height:auto;
text-align: center;
padding: 100px;
margin-top: 25px;
margin-left: 200px;
margin-right: 200px;
border: solid black 1px;
}

#participer
{
width:auto;
height:auto;
text-align: center;
padding:20px;
margin :10px;
border: groove black 5px;
}

#voter
{
width:auto;
height:auto;
text-align: center;
padding:20px;
margin :10px;
border: groove black 5px;
}

#gerer_concours
{
width:auto;
height:auto;
text-align: center;
padding:20px;
margin :10px;
border: groove black 5px;
}